<h1 style="color: #990000">Article</h1>
<p>
    <strong>Title:</strong>
    <%= @article.title %>
</p>

<p>
    <strong>Text:</strong>
    <%= @article.text %>
</p>

<h2 style="color:navy;">Comments (<%= @article.comments.count %>)</h2>
<%= render @article.comments %>

<br />
<div style="background-color: #efeff5; width: 800px; padding-top: 1px; padding-left: 5px; padding-bottom: 5px;">
  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
</div>
<br />
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %> 